$smartfit-dark-grey: #333333;
$smartfit-light-grey: #808080;

$smartfit-light-text: #e5e5e5;
$smartfit-medium-text: #939393;

$smartfit-yellow: #FFB612;
$smartfit-red: #dc0a17;
$smartfit-green: #2FC022;